<?xml version="1.0" encoding="UTF-8"?>
<robot name="cup">
  <link name="World">
    <visual>
      <origin xyz="0. 0. 0.015" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/user/Desktop/meshes/SM_Mug_A2.obj" scale="1. 1. 1."/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0. 0. 0.015" rpy="0. 0. 0."/>
      <geometry>
        <mesh filename="file:///home/user/Desktop/meshes/SM_Mug_A2.obj" scale="1. 1. 1."/>
      </geometry>
    </collision>
  </link>
</robot>
