<?xml version="1.0" ?>
<robot name="dexgn_core_can_6f2c">
  <link name="base">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.300000"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/user/rl_ws/demo/DexGraspNet/data/meshdata/core-can-6f2c06bb129e52be63ed57e35c972b4b/coacd/decomposed.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/user/rl_ws/demo/DexGraspNet/data/meshdata/core-can-6f2c06bb129e52be63ed57e35c972b4b/coacd/decomposed.obj" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>
