<?xml version="1.0" ?>
<robot name="dxycb_010_potted_meat_can">
  <link name="base">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <mass value="0.340000"/>
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/user/rl_ws/demo/dex-ycb/models/010_potted_meat_can/potted_meat_can.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="/home/user/rl_ws/demo/dex-ycb/models/010_potted_meat_can/potted_meat_can.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
</robot>
